<!-- <textarea rows="6" [value] = "newPost" #postInput></textarea>

<hr>

<button (click)="`(postInput )" > Save Post</button>

<p>{{ newPost }}</p> -->


<mat-card>
	<mat-spinner *ngIf="isLoading"></mat-spinner>
	<form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
		<mat-form-field>
			<input matInput type="text" name="title" [ngModel]="post?.title" required minlength="3" #title="ngModel" placeholder="Please enter a post title">
			<mat-error *ngIf="title.invalid">Please enter a Post title</mat-error>	
		</mat-form-field>
		<mat-form-field>
			<textarea matInput rows="4" name="content" [ngModel]="post?.content" required #content="ngModel" placeholder="Post content"></textarea>
			<mat-error *ngIf="content.invalid">Please enter the content for the Post title</mat-error> 	
		</mat-form-field>
		<button color="accent" mat-raised-button type="submit"> Save Post</button>
	</form>
</mat-card>



