<!-- <textarea rows="6" [value] = "newPost" #postInput></textarea>

<hr>

<button (click)="`(postInput )" > Save Post</button>

<p>{{ newPost }}</p> -->


<mat-card>
	<mat-spinner *ngIf="isLoading"></mat-spinner>
	<form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
		<mat-form-field>
			<input 
			matInput 
			type="text" 
			formControlName="title"
			placeholder="Please enter a post title">
			<mat-error *ngIf="form.get('title').invalid">Please enter a Post title</mat-error>	
		</mat-form-field>
		<div>
			<button mat-stroked-button type="button" (click)="filePicker.click()"> Pick Image </button>
			<input type="file" #filePicker>
		</div>
		<mat-form-field>
			<textarea 
			matInput rows="4" 
			formControlName="content"  
			placeholder="Post content">
			</textarea>
			
			<mat-error *ngIf="form.get('content').invalid">Please enter the content for the Post title</mat-error> 	
		</mat-form-field>
		<button color="accent" mat-raised-button type="submit"> Save Post</button>
	</form>
</mat-card>



